/*header and nav bar*/
*{
    margin: 0;
    padding: 0;
}
header{
    height: 150px;
    width: 100%;
    background: #FFFFFF;
    z-index: 12;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
nav{
    display: inline-flex;
    line-height: 180px;
}
nav a{
    color: #030BA6;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
}
.header-socials{
    float: left;
}

/*hero section*/
/*section{
    position: relative;
    height: 518px;
    width: auto;
}*/
/*section{
    position: relative;
    height: 518px;
    width: auto;
    bottom: 20px;
    left: 0px;
}*/
.hero-image{
    background-image: url("../images/heroimage.png");
    background-position: center;
    position: relative;
    height: 518px;
    width: auto;
    bottom: 20px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-text{
    position: absolute;
    top: 27%;
    left: 0;
    border: 15px;
    width: 951px;
    height: 258px;
    margin: 5px;
    background-color: #030BA6;
    opacity: 0.5;
}
.hero-text h1{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.hero-text p{
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

/*footer*/
.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #AAAACC;
}
.inner-footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}
.inner-footer .logo-container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}
.inner-footer .logo-container img{
    width: 361px;
    height: 321px;
}
.inner-footer .footer-third{
    width: calc(21.6666666667 - 20px);
    margin: 10px;
    float: left;
    height: 100%;
}
.inner-footer .footer-third:last-child{
    margin-right: 0;
}
.inner-footer .footer-third h1{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.inner-footer .footer-third p{
    color: #1E2833;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
    padding-bottom: 20px;
}
.inner-footer .footer-third span{
    color: #1E2833;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.inner-footer .footer-third a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #1E2833;
    display: block;
    width: 100%;
    padding-bottom: 20px;
}
.inner-footer .footer-third li{
    display: block;
    padding: 0 5 px;
    font-size: 20px;
}